:root {
  --title-color: #212121;
  --text-color: #757575;
  --white: #ffffff;
  --akcent-color: #2196f3;
  --link-color: rgba(255, 255, 255, 0.6);
  --logo2-color: #000000;
  --baner-bcg-color: #2f303a;
  --gray-bcg-color: #f5f4fa;
}

body {
  color: var(--title-color);
  background-color: var(--white);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid yellowgreen;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/*header
.page-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}*/
/*logo*/
.flexbox {
  display: flex;
}
.logo-web {
  color: var(--akcent-color);

  font-family: Raleway, sans-serif;
}
.logo {
  margin-right: 93px;
  color: var(--logo2-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.page-header .flexbox {
  justify-content: flex-start;
  align-items: center;
}

/*site-nav*/
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 0px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .active {
  color: var(--akcent-color);
  text-decoration: none;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
  color: var(--akcent-color);
}
/* adress header*/
/*link style*/
.site-adr {
  display: flex;
  margin-left: auto;
}
.site-adr .item:not(:last-child) {
  margin-right: 50px;
}

.site-adr a {
  color: var(--text-color);
  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-adr a:hover,
.site-adr a:focus,
.site-adr a:active {
  color: var(--akcent-color);
  cursor: pointer;
}

/*main*/
/*style fo rposter section*/
.poster-section {
  /*poster style*/
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--white);
  background: var(--baner-bcg-color);

  text-align: center;
}
/*button style poster section*/
.poster-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
.button {
  padding: 10px 32px;
  min-width: 136px;
  background: var(--akcent-color);
  color: var(--white);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid var(--akcent-color);
  border-radius: 4px;

  align-items: center;
  letter-spacing: 0.06em;
}

/*style for advantage section*/
.list-advantage {
  margin-top: 0px;
}
.list-advantage .title {
  margin-top: 0px;
  line-height: 1.15;
  text-transform: uppercase;
  list-style: none;
}
.section-advantage {
  margin-top: 0px;
  margin-bottom: 94px;
}
.section-advantage p {
  color: var(---text-color);

  font-weight: 400;
  line-height: 1.7;
}

/*style for title*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*style for чем мы занимаемся*/

/*style for command*/
.command-section {
  background: var(--gray-bcg-color);
}

.command-section .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.decor {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.command-section p {
  color: var(---text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*footer*/
.foter {
  background: var(--baner-bcg-color);
  font-weight: 400;
  line-height: 1.7;
}
.logo-foter {
  color: var(--white);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.adress p {
  color: var(--white);
  font-style: normal;
}
.adress a {
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
}
.adress a:hover,
.adress a:focus {
  color: var(--akcent-color);
  cursor: pointer;
}

/*style for portfolio*/
/*title portfolio*/

/*style for button portfolio*/
.button-portfolio {
  color: var(--title-color);
  background: var(--gray-bcg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background: var(--akcent-color);
  cursor: pointer;
}

/*portfolio service*/
.list-service a {
  text-decoration: none;
}

.list-service h2 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.15;
}
.list-service p {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
